
.compare-div{
    display: flex;
}
.compare-div img{
    margin: 20px;
    width: 60%;
}
.compare-table{
    width: 100%;
}
.some{
    width: 100%;
}

.first-div{
    background-color:#f4f5f9;
    border-right: 1px solid rgb(219, 219, 219);
}
.third-div{
    border-left: 1px solid rgb(219, 219, 219);
    margin: 0;
}
.second-div{
    margin: 0;
}
.strike-color{
    font-size: 14px !important;
    color: rgb(122, 122, 122) !important;
    margin-left: 2px;
}
.fa-angle-double-right{
    color: rgb(0, 102, 255);
    margin-right: 6px;
}

@media screen and (max-width:634px){
    .compare-parent-div{
        padding: 0px !important;
    }
    .first-div{
        width: 200px;
    }
    .first-div{
        padding: 2px !important;
        padding-top: 10px !important;
        word-break: break-all;
        display: flex;
        align-items: center;
        font-size: 12px !important;
    }
   
}