@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    .fa-map-marker,
    .fa-phone,
    .fa-envelope-2 {
        background-color: rgb(42, 42, 42);
        color: white;
        padding: 12px 15px;
        border-radius: 50%;
    }

    .fa-phone {
        padding: 17px;
    }

    .fa-envelope {
        padding: 17px;
    }

    .Message {
        width: 100%;
    }
    .leftContainer{
        width: 100%
    }
    .rightContainer {
        width: 100%
    }

    .Msginput {
        border: none;
        border-bottom: 2px solid black;
        margin: 10px 0px;
        padding: 10px 3px;
    }

    .send-btn {
        width: 100px;
        margin: 10px 0px;
    }

    .map-area{
        width: 100%;
        height: 300px;
        margin-top: 40px;
    }
    @media screen and (max-width:918px){
        .mid-container {
           flex-direction: column;
           align-items: center
        }
        .leftContainer{
            padding-left: 0px !important;
        }
        .rightContainer{
            margin: 0 !important;
        }
    }
    @media screen and (max-width:406px){
     
        .leftContainer div{
            margin-left: 10px !important;
        }
       
        .leftContainer div div{
            margin-right: 10px !important;
        }
    }
