/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* varables  and Global classes  */
.border-rounded{border-radius: 1000px;}
.h1{font-size: 3.5rem !important;}
.h6{font-size: 14px !important;}
.h7{font-size: 12px; color: rgb(163, 163, 163) !important;}
.bg-dark{background-color: rgb(44, 44, 44) !important;}
.like-color{color: rgb(160, 160, 160);}
.dark-pink{color:rgba(255, 2, 120, 0.733);}
.text-success{color: rgb(3, 204, 3) !important;}
.text-muted-2{color: rgb(126, 126, 126);}
.text-muted-3{color: rgb(196, 196, 196);}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none !important;
    font-family: 'Montserrat', sans-serif;
}



header img{
    width: 250px;
}
.search{
    width: 30px;
}
.search-bar-parent{
    width: 40vw
    
}
.search-bar{
    border-radius:1000px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    position: relative;
}
.suggestions{
    position: absolute;
    z-index: 1;
    background-color:white;
    width: 40vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
}
.suggestions span{
    padding: 10px;
    cursor:pointer;
    display: none;
}
.suggestions span:hover{
    background-color: rgb(248, 248, 248);
}
.search-bar input{
    width: 80%;
}
.nav-links{
    color:rgb(68, 68, 68);
    text-decoration: none;
    transition: .3s;
}
.navbar{
    background-color: rgb(248, 248, 248) !important;
}
.nav-links:hover{
    color: #525252 !important;
    text-decoration: none;
}
.navbar .nav-item:hover{
    color: black !important;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
    color: rgb(41, 41, 41);
    cursor: pointer;
}
.navbar .nav-item .dropdown-menu {
    background-color: rgb(240, 240, 240);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
}
.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
    padding:10px  0  !important;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
}
.timer-span{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}
.slider{
    display: flex;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
}
.fa-arrow-left{
    left: 20px !important;
}
.fa-arrow-right{
    right: 20px !important;
}
.slider-parent{
    position: relative;
}
.fa-arrow-right,.fa-arrow-left{
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
.fa-arrow-right:hover,.fa-arrow-left:hover{
    background-color: rgba(0, 0, 0, 0.541);
}
.slider::-webkit-scrollbar{
    appearance: none;
}
.ex-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ex-heading span{
    border-bottom:4px solid rgb(0, 162, 255) ;
    width: 250px;
    margin-top: 2px;
}
.product-div{
    width: 250px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
    flex-shrink: 0;
    margin: 20px;
}
.product-text{
    color: rgba(145, 145, 145, 0.767);
    line-height: 17px;
    font-size: 15px;
    font-weight: bold;
}
.product-div:hover .product-img img{
    transform:scale(1.05);
}
.product-img{
    width: 100%;
    overflow: hidden;
    height: 300px;
}
.product-img img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.like-sec{
    transition: .4s;
}
.like-sec:hover{
    color:rgb(255, 0, 106) !important;
}
.sale-banner{
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}
.sale-banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg ,white, rgba(0, 0, 0, 0)  , white);
}
.sale-text{
    z-index: 1;
}
.view-more{
    border:2px solid #007BFF;
}
.view-more:hover{
    background-color: rgba(210, 105, 30, 0);
    color: #007BFF;
}
.footer{
    background-color: rgb(22, 22, 22);
}
.footer img {
    filter: invert(100%);
    width: 200px;
}
.footer a{
    color: rgb(179, 179, 179);
    line-height: 40px;
}
.footer a:hover{
    color: rgb(126, 126, 126);
    text-decoration: none;
}
.footer input{
    background-color: rgb(48, 48, 48);
    border: none;
    border-radius:4px;
    padding: 10px ;
    color: white;

}
/* media query */
@media only screen and (max-width:700px){
    .fa-arrow-left,.fa-arrow-right{
        display: none;
    }
}
@media only screen and (max-width:845px){
  .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .search-bar-parent{
      width: 100%;
  }
  .suggestions{
    width: 85vw;
  }
  .order{
      display: none !important;
  }
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: rgb(61, 61, 61)}
	.navbar .nav-item:hover .dropdown-menu{ display: block ;}
	.navbar .nav-item .dropdown-menu{ margin-top:0px; }
}
